.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 20px;
  gap: 15px;
}

.buttonContainer {
  display: flex;
  gap: 15px;
}

.buttonContainer button {
  display: flex;
  gap: 10px;
  padding: 5px 15px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
}

.buttonContainer button:hover {
  cursor: pointer;
  background-color: rgb(244, 244, 244);
}

.buttonContainer button:disabled {
  filter: grayscale(1) opacity(0.5);
  cursor: not-allowed;
}

.buttonContainer .removeButton {
  color: #9e7157;
  border: 1px solid #9e7157;
}

.buttonContainer button span {
  font-size: 18px;
}

.canvas {
  flex: 1 1 auto;
  min-height: 0;
}
